#!/bin/bash
# In case content.quakejs.com is down and you do not find a content server.
# Rename so the file extension is ".sh" and this script will be executed
# Make sure you have at least one map in the customQ3maps folder or downloads list
# If you have alot of missing textures press "l" and check the console for textures that are labelled as 'DEFAULTED'
# Just create a .pk3 with the missing textures (take them from e.g. openarena and preserve the paths e.g. /textures/base_trim/texturename.tga)
# and put the pk3 in pk101input folder

mkdir /var/www/html/assets
mkdir /var/www/html/assets/baseq3

#Download and rename the demo installers
wget -P "./temp/" --progress=bar https://ftp.gwdg.de/pub/misc/ftp.idsoftware.com/idstuff/quake3/linux/linuxq3ademo-1.11-6.x86.gz.sh
wget -P "./temp/" --progress=bar https://ftp.gwdg.de/pub/misc/ftp.idsoftware.com/idstuff/quake3/linux/linuxq3apoint-1.32b-3.x86.run

for file in ./temp/*
do
    checksum=$((0x$(crc32 $file)))
    mv "$file" "$(dirname $file)/$checksum-$(basename $file)" 

done

mv -f ./temp/* /var/www/html/assets/

#Create dummy pk100 and pk101...
touch ./temp/empty
cd ./temp
zip ./pak100.pk3 ./empty
cp ./pak100.pk3 ./pak101.pk3
rm ./empty
cd ..
./scripts/crcRename.sh ./temp/*
mv -f ./temp/* /var/www/html/assets/baseq3
