<!DOCTYPE html>
<html>
	<head>
		<title>SERVERTITLE</title>
		<link rel="stylesheet" href="/game.css"></link>
		<link rel="manifest" href="/manifest.json"></link>

		<script type="text/javascript" src="/ioquake3.js"></script>
			<script type="text/javascript">
			function getQueryCommands() {
				var search = /([^&=]+)/g;
				var query  = window.location.search.substring(1);

				var args = [];

				var match;
				while (match = search.exec(query)) {
					var val = decodeURIComponent(match[1]);
					val = val.split(' ');
					val[0] = '+' + val[0];
					args.push.apply(args, val);
				}

				return args;
			}

			window.onload = function () {
				function resizeViewport() {
					if (!ioq3.canvas) {
						// ignore if the canvas hasn't yet initialized
						return;
					}
					if ((document['webkitFullScreenElement'] || document['webkitFullscreenElement'] ||
								document['mozFullScreenElement'] || document['mozFullscreenElement'] ||
								document['fullScreenElement'] || document['fullscreenElement'])) {
						// ignore resize events due to going fullscreen
						return;
					}
					ioq3.setCanvasSize(ioq3.viewport.offsetWidth, ioq3.viewport.offsetHeight);
				}

				ioq3.viewport = document.getElementById('viewport-frame');
				ioq3.elementPointerLock = true;
				ioq3.exitHandler = function (err) {
					if (err) {
						var form = document.createElement('form');
						form.setAttribute('method', 'POST');
						form.setAttribute('action', '/');

						var hiddenField = document.createElement('input');
						hiddenField.setAttribute('type', 'hidden');
						hiddenField.setAttribute('name', 'error');
						hiddenField.setAttribute('value', err);
						form.appendChild(hiddenField);

						document.body.appendChild(form);
						form.submit();
						return;
					}

					window.location.href = '/';
				}

				window.addEventListener('resize', resizeViewport);
                               //generate a funny name
                               function getRandomInt(min, max) {
					  min = Math.ceil(min);
					  max = Math.floor(max);
					  return Math.floor(Math.random() * (max - min +1)) + min; 
				} 

				var playername;
				var first = ['Mega', 'Average', 'Minor', 'Grim', 'Ultra', 'Extreme', 'Some', '[N0cl4n]', 'Da', 'Depressed', 'The', 'One', 'Hiding', 'Vegan', 'Never', 'My', 'Your', 'No', 'Best', 'Largest' , 'Heavy' , 'Broke', 'Gameboy', 'Breathing', 'Dead' , 'Super' , 'Mamas', 'Great', '8-BIT' , 'Just', 'Bloody', 'Extra', 'Excepional','Secret', 'Giga', 'Absolute', 'Silver', 'Rich', 'Cool' , '-=LOL=-', 'Bored' , 'Laughing' ,  'Popular', 'Motivated', 'Active', 'Rising', 'Complaining', 'small', 'Little', 'Old', 'CallMe', 'Young', 'Fresh', 'Aiming', 'Loud', 'Sniping', 'Sleepy', 'Friendly', 'Lazy', 'CrAzY', 'L33T', 'FrEeAkY', 'Bored', 'Rich', 'Cool', 'Joking', 'Sneezing', 'Mad', 'Lost', 'Icy', 'Depressed', 'Limping', 'Happy', 'Winning', 'Loosing', 'Dominating', 'Drunk' ];
				var second = ['Cl0wn', '1337', 'Re4peR', 'Pr0tect0r', 'T-Rex', 'Dionsaur', 'Insect', 'Python' ,'D0G', 'HunteR', 'Bee', 'Winner', 'Byte' , 'Daddy', 'Overlord', 'Carnivore', 'Player', 'King', 'Bear' ,'D0minat0r', 'Pal', 'Cat', 'Looser','Donkey', 'C4mper', 'Cute', 'Guy', 'Waste', 'Tamagotchi', 'SinneR', 'Byte', 'Rock', 'Padman', 'Llama', 'Alpaca', 'Fr0g', 'Shark', 'Witch', 'Killer', 'Beast', 'Hangman', 'Executioner', 'Overflow', 'Judge', 'C00ki3','Ruler', 'Ramb0', 'Pirate', 'Cadet', 'Update', 'Reb00t', 'Liar', 'Her0',  'Ch34ter', 'Mario', 'Green', 'N00B' , 'Mouse', 'Bullet', 'PitBull', 'Meatball', 'General', 'QWERTY', 'Butcher', 'Vegan', 'Guard', 'Major', 'Agent', 'Rocket', 'Soldier', 'Bluescreen', 'Gun', 'Joe', 'Rat', 'CTRL+Alt+Del','B0SS' ];
				playername = '^' + getRandomInt(1, 7) + first[getRandomInt(0, first.length-1)] + '^' + getRandomInt(1, 7) + second[getRandomInt(0, second.length-1)]; 
				//select a random playermodel
				var models =['sarge', 'visor', 'visor/red', 'visor/blue', 'major','major/daemia','grunt'];
				var playermodel = models [getRandomInt(0, models.length-1)];
				// merge default args with query string args
				
				var args = ['+set', 'fs_cdn', 'CONTENTSERVER', '+connect', 'SERVERIP:SERVERPORT', '+exec', '/scripts/default.txt', '+name', playername, '+model', playermodel];

				args.push.apply(args, getQueryCommands());
				ioq3.callMain(args);
			};
		</script>
	</head>
	<body>
		<div id="viewport-frame"></div>
	</body>
</html>
